@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./Utils/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #363940;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: 700;
}

h2, p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

header li {
    cursor: pointer;
}

li {
    list-style: none;
}

Link {
    text-decoration: none;
}

.wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;

    @media screen and (min-width:768px) {
        width: 750px;
    }
    @media screen and (min-width:992px) {
        width: 970px;
    }
    @media screen and (min-width:1200px) {
        width: 1170px;
    }
    @media screen and (min-width:1440px) {
        width: 1370px;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center_content {
    display: flex;
    justify-content: center;
}

.txt-white {
    color: $color_white;
}

.txt-center {
    text-align: center;
}