@import '../../styles/Utils/variables.scss';

.banner-bg {
    background: url('../../images/r0m0_4-rMN5wSMI69Y-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: $color_mobilebar;
    min-height: 100vh;
    position: relative;
    margin-bottom: 60px;
}

.banner-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    letter-spacing: 2px;
}

section h2 {
    font-size: 32px;
    text-transform: uppercase;

    @media screen and (min-width:992px) {
    font-size: 48px;
}
}

section p {
    font-size: 16px;

    @media screen and (min-width:992px) {
        font-size: 22px;
    }
}

.banner-button {
    margin-top: 40px;
}

.banner-button a {
    letter-spacing: 1.5px;
    border: 2px solid $color-white;
    cursor: pointer;
    padding: 8px 12px;
    line-height: 1.42857143;
    transition-duration: 0.3s;
}

.banner-button a:hover {
    color: #333;
    background-color: $color-white;
    transition-duration: 0.3s;
}